include *.txt
include *.yml
include tox.ini
recursive-include notebooks *.csv
recursive-include notebooks *.ipynb
recursive-include notebooks *.pgz
recursive-include notebooks *.py
recursive-include notebooks *.yaml
recursive-include src *.json
recursive-include src *.p
recursive-include src *.xml
recursive-include tests *.py